<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsumeServicesCourseGradingWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63481/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsumeServicesCourseGradingWeb.Properties.Settings>
            <setting name="ConsumeServicesCourseGradingWeb_Tmp_Service" serializeAs="String">
                <value>http://localhost:63481/Service.asmx</value>
            </setting>
        </ConsumeServicesCourseGradingWeb.Properties.Settings>
    </applicationSettings>
</configuration>